[user]
	name = Mitchell Perilstein
	email = mitchell.perilstein@gmail.com
[github]
[push]
	default = simple
[alias]
        co = checkout
	stashed = stash list --pretty=format:'%gd: %Cred%h%Creset %Cgreen[%ar]%Creset %s'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

# for $deity's sake, check that anything we're getting is complete and sane on a regular basis
[transfer]
        fsckobjects = true
[fetch]
        fsckobjects = true
[receive]
        fsckObjects = true 
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = icdiff $LOCAL $REMOTE | less -R
[grep]
[core]
	autocrlf = input
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
